html
	head
		title Test Game
		link(rel='stylesheet', href='dist/main.css')
		script(type='text/javascript', src='vendor/phaser/build/phaser.min.js')
		script(type='text/javascript', src='dist/main.js' async)
		meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
	body
		.content Hello!
